@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background: #131313;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.digit {
    margin-top: 10px;
}

input {
    border: 2px solid #F44336;
    outline: none;
    border-radius: 14px;
    height: 55px;
    width: 225px;
    background-color: rgb(255 255 255 / 0.25);
    color: #bbb;
    font-size: 32px;
    font-weight: 500;
    line-height: 47px;
    padding: 3px 15px 3px 15px;
    appearance: none;
}

.between {
    margin-right: 35px;
}

.number-result {
    margin: auto;
    margin-top: 25px;
    color: #dddddd;
    font-size: 22px;
}

.action-button {
    margin-top: 30px;
    background-color: #f44336;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 250px;
    color: #dddddd;
    font-size: 32px;
    line-height: 2.5px;
    font-weight: 700;
    cursor: pointer;
}

.button-effect:hover {
    opacity: 0.8;
}

@media screen and (max-width: 769px) {
    .between {
    margin-right: 25px;
    }

    input {
    height: 55px;
    width: 140px;
    font-size: 24px;
    }

    .digit {
    display: block;
    margin: 12px auto auto;
    }
}